[Unit]
Description=Run Agent main.py every 10s

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=False

[Install]
WantedBy=timers.target
