[Unit]
Description=Run Agent
After=network.target

[Service]
Type=oneshot
# These will be replaced by deploy.sh during installation
WorkingDirectory=__WORKING_DIR__
ExecStart=/usr/bin/python3 __WORKING_DIR__/main.py

[Install]
WantedBy=multi-user.target
